/*********************section 1*****************************************/
.section div{
    display: flex;
  }
  #section1 .container{
    align-items: center;
  
  }
  #section1 .container div{
    width: 50%;
  }
  .phraseAccroche p{
    font-weight: bold;
    font-size: 32px;
    color: var(--marron);
    line-height: 50px;
    text-align: center;
    position: absolute;
    padding: 0 20% ;
    top: 300px;
    left: -50px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.819);
}


/*********************section 2*****************************************/
#section2 {
  margin-top: -56px;
  z-index: 200;
  position: relative;
  
}
#section2 .container{
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

#section2 .container .carre{

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
}
#section2 .container .carre img{
  margin-top: 20px;
}

#section2 .container .carre h2{
  font-family: var(--body-font);
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin: 0 10px;
}
#section2 .container .carre a {
  font-family: var(--heading-font);
  font-size: 20px;
  margin-top: 20px;

}

/*********************section 3*****************************************/

.section3{
  margin-top: 100px;
  margin-bottom: 100px;
 
}.containerVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 90%;
  background-image: url(../images/pellicule.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.videoYtb {
  width: 70%;
  height: 75%;
  padding-top: 2%;
  aspect-ratio: 1.63/1;
  margin-bottom: 14px;
}
/* fin CSS section 3 */

/*****section 6*************************/

#section6 .container{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  
}


#section6 .container .carre{
  overflow: hidden;
  
  
}


#section6 .container .realisations{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#section6 .container img{
  width: 100%;
}

#section6 .container .carre {
  position: relative;
  overflow: hidden;
}

#section6 .container .carre .image-container img {
  width: 100%;
  display: block;
}

#section6 .container .carre .hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Utilise la largeur de l'image */
  height: 100%; /* Utilise la hauteur de l'image */
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  color: #fff; /* Couleur du texte */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0; /* Initialement caché */
  transition: opacity 0.3s ease; /* Animation de transition */
}

#section6 .container .carre:hover .hover-content {
  opacity: 1; /* Fait apparaître le contenu de survol au survol */
}


/*********************section7 carrousel*****************/
.section7 {
  position: relative;
}
.section7 .container1{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
.section7 .container1 img{
  width: 100%;
}
.section7 .slam{
  border: 2px solid ;
  width: 376px;

  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 15%;
  background: white;
}
.section7 h3{
  margin-bottom: 20px;
}
.section7 p{
  margin-bottom: 20px;
}
.section7 a{
  display: inline-block;
  margin-top: 10px;
  
}

