.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.container img{
    width: 100%;

}

#section1{
    height: 50vh;
    background-image: url(../images/mainsBouleTerre.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}


