h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--marron);
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

p {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 18px;
}

a {
  font-family: var(--heading-font);
  text-decoration: none;
  color: var(--marron);
}

.btnVert {
  background-color: var(--vertClair);
  color: var(--vertFonce);
  border: 1px solid var(--vertFonce);
  border-radius: 10px;
  padding: 5px 15px;
  text-decoration: none;
}

.btnBlanc {
  background-color: white;
  color: var(--vertFonce);
  border: 1px solid var(--vertFonce);
  border-radius: 10px;
  padding: 5px 15px;
  text-decoration: none;
}

section {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.bg-vert {
  background-color: var(--vertClair);
}

.carre {
  width: 300px;
  height: 300px;
  background-color: var(--vertClair);
}

.bold {
  font-weight: bold;
}

.josefin {
  font-family: var(--body-font);
}

ul li {
  font-family: var(--body-font);
}