footer{
          display: flex;
          justify-content: center;
          background-color: var(--beige);
          border: 2px solid purple;
}
.containerFooter{
          display: flex;
          /* margin: 0 auto; */
}
.footerGauche{
          border: 5px solid lightblue;
          width: 30%;
          flex-direction: column;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 25px;
          padding: 20px 0;
         
}

.footerDroit{
          border: 5px solid pink;
          width: 70%;
          margin: 0 auto;

          display: flex;
          align-items: center;
          margin: 0 auto;
}

.Contact{
          border: 2px black solid;
          display: flex;
          width: 50%;
          flex-direction: column;
          margin-left: 20px;
          margin-right: 20px;
}
.adresse{
          border: 2px green solid;
          width: 50%;
          display: flex;
          flex-direction: column;

}

.footerDroit a {
          justify-content: center;
}


.logoFooter {
          border: 2px solid blue;
          width: 200px;

}

.pictos {
          border: 2px solid red;
          display: flex;
          justify-content: center;
          align-items: center;
          align-items: space-between;
          width: 70%;

}

.footerGauche img {
          width: 100%;
}

.mentionslegales {
          margin-top : 10px
}