.container {
    margin-top: 5%;
    margin-bottom: 10%;
}

.feuilles{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 30px;
        
}

.feuille {
          width: 70px;
          align-items: center;
}

.feuille img {
          width: 100%;
}

.texteMentions{
          border: 3px solid #1D5902;
          border-radius: 10px;
          text-align: center;
          padding: 10px;
          box-shadow: 68px 48px 4px 0px #C7D9A0;  
          width: 70%;
          margin: 0 auto;
          padding: 3%;
          color: var(--marron);
}

.titreMentions{
          text-align: center;
          padding: 50px;
}

  @media screen and (max-width: 767px) {
    .titreMentions {
        margin-top: 10%;
    }

    .container {
        margin-bottom: 20%;
    }
  }